.titleAnimationsWrapper {
  font-size: 8.8rem;
  color: black;
  font-weight: 700;
  text-align: center;
  @include title();
  text-transform: uppercase;
  letter-spacing: -5px;
  overflow: hidden;
  @media #{$large} {
    font-size: 6rem;
  }
  @media #{$landscape} {
    font-size: 4rem;
    letter-spacing: -1px;
    line-height: 1;
    padding: 1rem;
  }
  &.blogTitle {
    font-size: 5rem;
    line-height: 1;
  }
  span {
    display: inline-block;
    transform-origin: left;
    &.word {
      margin-right: 1rem;
    }
  }
  .sub {
    font-size: 2rem;
    text-align: right;
    top: -31px;
    position: relative;
    letter-spacing: -1px;
    right: 18px;
    @media #{$landscape} {
      font-size: 1.5rem;
      top: 0px;
      right: 10px;
      text-align: center;
    }
  }
}
