html {
  font-size: 100%;
  @media #{$wide} {
    font-size: 90%;
  }
  @media #{$laptop} {
    font-size: 80%;
  }
}
body {
  margin: 0;
  @include paragraph();
}
main {
  position: relative;
}
h1,
h2,
h3 {
  @include title();
}
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
  width: 100%;
  height: 300px;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 400 !important;
}
.wrapperFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @media #{$tablet} {
    flex-direction: column;
  }
  img {
    @media #{$tablet} {
      width: 6%;
      padding-right: 10px;
    }
  }
}
.macchia {
  @media #{$tablet} {
    opacity: 0.5;
  }
  @media #{$phone} {
    display: none;
  }
}
section {
  @media #{$tablet} {
    padding: 0 1rem;
  }
}
button {
  border-radius: 0;
  border: none;
  padding: 1rem 2rem;
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
.interne {
  max-width: 1080px;
  margin: 0 auto;
  a {
    color: black;
    font-weight: bold;
  }
  section > div {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  ul {
    margin: 2rem 0;
    li {
      font-size: 1.2rem;
      list-style: circle;
      margin: 1rem 0;
    }
  }
  p {
    font-size: 1.2rem;
    hyphens: auto;
  }
  h1 {
    line-height: 1;
    font-size: 6rem;
  }
  h3 {
    text-transform: uppercase;
  }
}
.leaflet-container {
  margin-top: 4rem;
  height: 100%;
  filter: grayscale(0.3);
}
