.blog {
  max-width: 866px;
  margin: 0 auto;
  .blogMainImage {
    max-width: 866px;
    margin: 1.5rem auto 0 auto;
    width: 100%;
    height: 400px;
    position: relative;
    img {
      object-fit: cover;
    }
  }
  h2,
  h3 {
    font-weight: 100;
    font-size: 2rem;
    margin: 1rem 0;
  }
  .listaBlog {
    font-weight: 100;
    li {
      margin: 0.5rem 0;
      font-weight: 400;
    }
  }
  .blogTitle {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: 0px;
  }
  .blogImage {
    img {
      object-fit: cover;
    }
  }
  p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
  }
}
