.success {
  padding: 1rem;
  background-color: $darkblue;
  margin-bottom: 2rem;
  /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); */
  h3 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    margin-top: 0.5rem;
  }
}

form.form {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  grid-column: span 3;
  padding: 1rem 2rem;
  margin: 2rem 0;
  color: white;
  @media #{$phone} {
    padding: 0rem;
  }
  input,
  textarea,
  textarea:focus-visible,
  input:focus-visible {
    width: 100%;
    border: none;
    background-color: rgb(239, 239, 239);
    border-radius: 0;
    outline: none;
  }
  label {
    color: black;
  }
  input {
    height: 40px;
  }
  textarea {
    height: 100px;
  }
  button {
    border-radius: 0;
    border: none;
    padding: 1rem 2rem;
    display: block;
    margin-right: 0;
    margin-left: auto;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  p {
    margin: 0.5rem 0;
  }
  .error {
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
  }
}
.wrapperForm {
  header {
    color: white;
    background-color: $darkblue;
    padding: 0;
    overflow: auto;
    .headingContent {
      max-width: 1470px;
      margin: 4rem auto;

      h2 {
        font-size: 6rem;
        margin: 0;
      }
      p {
        margin-top: 1rem;
        font-size: 1.2rem;
        max-width: 800px;
      }
    }
  }
  .formContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    img {
      flex: 0 1;
      height: auto;
      object-fit: cover;
      position: relative;
      top: -250px;
    }
  }
}
