.fixedModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  z-index: 2000;
  overflow: hidden;
  display: flex;
  @media #{$tablet} {
    flex-direction: column;
  }

  a {
    color: rgb(0, 0, 0);
  }
  h2 {
    font-weight: bolder;
    font-size: 4rem;
    margin: 0;
    animation: slideIn 1s forwards 1s ease-in-out;
    line-height: 1;
    &:first-child {
      font-size: 6rem;
      @media #{$landscape} {
        font-size: 3rem;
        margin: 0;
      }
    }
    @media #{$landscape} {
      font-size: 1.5rem;
      margin: 0;
    }
  }
  &__image {
    width: 30%;
    position: relative;
    height: 100%;
    img {
      object-fit: cover;
      @media #{$tablet} {
        object-position: top;
      }
    }
    @media #{$tablet} {
      width: 100%;
      height: 300px;
    }
  }
  &__content {
    flex: 1;
    color: rgb(0, 0, 0);
    padding: 2rem;
    &__close {
      position: relative;
      float: right;
      opacity: 1;
      cursor: pointer;
      animation: paragraph 1s forwards 1.5s ease-in-out;
    }
    &__title {
      overflow: hidden;
      clear: both;
      h2 {
        @media #{$tablet} {
          font-size: 2.3rem;
        }
      }
    }
    > a {
      display: inline-block;
      margin-top: 2rem;
      animation: paragraph 1s forwards 3s ease-in-out;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5rem;
      text-decoration: none;
      border: 1px solid white;
      padding: 1rem;
    }
    ul {
      font-size: 1.5rem;
      line-height: 1.5;
      font-weight: lighter;
      @media #{$tablet} {
        font-size: 1.2rem;
      }
    }
    p {
      font-weight: lighter;
      font-size: 2rem;
      margin: 1rem 0;
      animation: paragraph 1s forwards 1.5s ease-in-out;
      @media #{$tablet} {
        font-size: 1.2rem;
      }
      span {
        display: block;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
