.tabs {
  max-width: 1650px;
  margin: 0 auto;
  padding-bottom: 4rem;
  @include title();
  @media #{$wide} {
    padding: 0 1rem;
  }
  .tabNav {
    ul {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      @media #{$tablet} {
        flex-direction: column;
      }
      li {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem;
        cursor: pointer;
        @media #{$large} {
          font-size: 1.5rem;
        }
      }
    }
  }
  .tabBody {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    align-items: center;
    @media #{$tablet} {
      flex-direction: column;
    }
    &__content {
      flex: 1;
      h2 {
        font-size: 4rem;
        text-transform: uppercase;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 2rem;
        @media #{$tablet} {
          font-size: 2rem;
        }
      }
      p {
        @include paragraph();
        font-size: 1.2rem;
        line-height: 2rem;
        margin: 0;
      }
    }
    &__image {
      margin: 2rem 0;
      position: relative;
      flex: 1;
      max-width: 783px;
      height: 530px;
      @media #{$tablet} {
        display: none;
      }
      img {
        object-fit: cover;
      }
    }
  }
}
.active {
  background-color: #000;
  color: white;
}
