.footer {
  position: relative;
  width: 100%;
  background-color: $blue;
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 4rem 2rem;
  justify-items: center;
  align-items: end;
  font-size: 19px;
  gap: 2rem;
  font-weight: 200;
  a,
  a:hover {
    color: white;
    text-decoration: none;
  }
  @media #{$landscape} {
    grid-template-columns: repeat(2, 1fr);
  }
  @media #{$phone} {
    grid-template-columns: 1fr;
    justify-items: flex-start;
  }
  &__first {
    grid-column: 2/3;
    @media #{$landscape} {
      grid-column: 1/2;
    }
    img {
      margin-bottom: 1rem;
    }
  }
  &__fourth {
    justify-self: center;
    h3 {
      margin-bottom: 0.5rem;
    }
  }
}
